body {
  background-color: gray;
  margin: 0px;
  color: black;
}
#containing {
  margin: 100px;
}
.icons {
  width: 32%;
  height: 90%;
}
.links {
  width: 100%;
  height: 100%;
}

p {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  width: 354px;
  color: black;
}
#portpics {

  height: 200px ;
  width: 100%;
}

}
.centered {
  color: white;
  background-color: #4aaaa5;
  position: absolute;
  top: 100px;
  left: 15px;
  width: 270px;
  text-align: center;
}

.bottomcentered {
  color: assets\images\Screenshot(18).png white;
  background-color: #4aaaa5;
  position: absolute;
  top: 50px;
  left: 14px;
  width: 176px;
  text-align: center;
}
#thisandthat {
  padding: 0px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: black;
  color: white;
  border-top: 8px solid #781C1C;
  height: 50px;
}

.portcontain {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.weird {
  height: 50%;
  width: 50%;
  margin: 20px;
  object-fit: cover;
}

h3 {
  background-color: #4aaaa5;
  color: white;
  position: relative;
  bottom: -200px;
  text-align: center;
  height: 50%;
  width: 50%;
}

img {
  
  height: 50%;
  width: 50%;
  padding: 0%;
}

.img-thumbnail {
  object-fit: cover;
  height: 85%;
  width: 85%;
  border: 1px solid #781C1C;
  background-color: #781c1c;
}

.img-portfolio {
  object-fit: cover;
  height: 75 %;
  width: 75%;
}
.img-portfolioplanner {
  object-fit: cover;
  height: 50%;
  width: 76%;
}

.img-portfolioburg {
  object-fit: cover;
  height: 97%;
  width: 75%;
}

.img-disk {
  object-fit: cover;
  height: 97%;
  width: 75%;
}

#planpic {
  height: 100%;
  width: 100%;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  /resize: vertical;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.responsive {
  width: 100%;
  height: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 20px;
}
